<%- include('template/header') -%>
    <div class="contenedor contenedor-tarjetas" style="display: flex;">

        <div class="tarjetas ">

            <div class="tarjeta">

                <img src="/images/<%= producto.ruta %>" alt=",...." width="200px">
                <h2>
                    <%= producto.nombre%>
                </h2>
                <p>
                    <%= producto.descripccion%>
                </p>
                <P>
                    <%= producto.precio%>
                </P>
                <a href="<%= producto._id%>">Comprar</a>
                <a href="<%= producto._id%>">Comprar</a>
            </div>
        </div>

    </div>
    <%- include('template/footer') -%>