<%- include('../template/header') -%>
    <div class=" contenedor-form contenedor-form-contacto">
        <h1>
            <%=title%>
        </h1>
        <a class="btn-agregar" href="/agenda/create">agregar</a>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>N° Casa</th>
                    <th>N° celular</th>
                    <th>Relacion</th>
                    <th>Opciones </th>
                </tr>
            </thead>
            <tbody>
                <% contacto.forEach(function(contacto){ %>
                    <tr>
                        <td>
                            <%= contacto.nombre%>
                        </td>
                        <td>
                            <%= contacto.t_casa%>
                        </td>
                        <td>
                            <%= contacto.t_celular%>
                        </td>
                        <td>
                            <%= contacto.relacion%>


                        </td>
                        <td>

                            <a class="btn-update" href="http://localhost:3000/agenda/delete/<%= contacto._id%>">Actualizar</a>
                            <a class="btn-delete" href="http://localhost:3000/agenda/delete/<%= contacto._id%>">Eliminar</a>


                        </td>





                        <% }); %>
                    </tr>
            </tbody>
        </table>

    </div>
    <%- include('../template/footer') -%>